# Logs and results
logs/
*.log


# Powershell temp files
*.tmp

# OS files
.DS_Store
thumbs.db

# Devices
Devices.csv
Device_Addition_ErrorLog_2026-07-01_10-27-16.txt
Device_Addition_Log_2026-07-01_10-27-16.txt
Devices.csv
Devices.csv
Devices - Copy.csv
Device_Addition_Log_2026-07-01_12-05-47.txt
Device_Addition_Log_2026-07-01_11-51-43.txt
Device_Addition_Log_2026-07-01_11-49-03.txt
Device_Addition_ErrorLog_2026-07-01_12-05-47.txt
Device_Addition_ErrorLog_2026-07-01_11-51-43.txt
Device_Addition_ErrorLog_2026-07-01_11-49-03.txt
Devices.csv
