# Logs and results
logs/
*.log


# Powershell temp files
*.tmp

# OS files
.DS_Store
thumbs.db

# Devices
Devices.csv
Devices - Copy.csv
Device_Addition_Log_*
Device_Addition_ErrorLog_*
Devices.csv
